@model Category


<form method="post">
    <fieldset class="border p-3 mt-4">
        <legend>Удаление категории</legend>
        <input asp-for="Id" hidden />
        <div class="row mb-3 p-1">
            <label class="form-label p-0">Название категории</label>
            <input asp-for="Name" class="form-control" disabled />

        </div>
        <div class="row mb-3 p-1">
            <label class="form-label p-0">Приоритет</label>
            <input asp-for="DisplayOrder" type="number" disabled class="form-control" />

        </div>
        <div class="row mt-4">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Удалить</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark form-control">К списку</a>
            </div>
        </div>
    </fieldset>
</form>


