@model Category


<form method="post">
    <fieldset class="border p-3 mt-4">
        <legend>Редактирование категории</legend>
        <div class="row mb-3 p-1">
            <label class="form-label p-0">Название категории</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-1">
            <label class="form-label p-0">Приоритет</label>
            <input asp-for="DisplayOrder" type="number" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row mt-4">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Обновить</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark form-control">К списку</a>
            </div>
        </div>
    </fieldset>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

